// $primary-color: steelblue;
// $secondary-color: skyblue;
// $light-color: #f4f4f4;
// $dark-color: #333;
// $font-stack: Verdana, Geneva, Tahoma, sans-serif;

// to use variables in the 'Partial' Sass file (_variables.scss)
// note - when importing file, no need of _ or take it off from file name here
// that way this file won't get compiled into basic css
@import 'variables';
@import 'functions';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}

// nesting
header {
  background-color: $dark-color;
  // passing function here
  color: set-text-color($dark-color);
  padding: 1rem;

  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  // & (ampersand) - select parent selector (.section) &  add '-a' to it
  // This rule only applies to to the class(.section-a)
  &-a {
    background-color: $primary-color;
    color: #fff;
  }

  &-b {
    background-color: $secondary-color;
    color: #fff;
  }
}

p {
  &:hover {
    color: coral;
  }
}

// inheritance - '% sign' is to extend this style
%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

// we don't have 'btn' class but we can use nesting
.btn {
  // btn-light class
  &-light {
    // @extend - to inherit or extend class
    @extend %btn-shared;
    background-color: $light-color;
    color: #333;
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: #fff;
  }
}

// note - if we don't like above syntax, we can also do this
.btn-light {
  // @extend - to inherit or extend class
  @extend %btn-shared;
  background-color: $light-color;
  color: #333;

  &:hover {
    // adding our mixins
    @include transform(rotate(20deg));
    // darken(color, ratio) - predefined func
    background-color: darken($light-color, 10%)
  }
}

.btn-dark {
  @extend %btn-shared;
  background-color: $dark-color;
  color: #fff;

  &:hover {
    // adding our mixins
    @include transform(rotate(-20deg));
    background-color: lighten($dark-color, 10%);
  }
}
